<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="name.huangzhoujin.registration.persistence.sqlmapdao.CustomMapper">

	<sql id="Condtione_Where_Clause">
		<where>
			<if test="register != null">
				register = #{register}
			</if>
			<if test="unemployed_no != null">
				AND unemployed_no = #{unemployed_no}
			</if>
		</where>
	</sql>

	<select id="countByCondition" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) count_number from t_reg_registration
		<if test="_parameter != null">
			<include refid="Condtione_Where_Clause" />
		</if>
		<if test="pageNo !=null">
			limit #{pageNo}, #{pageSize}
		</if>
	</select>


</mapper>