/******  Link Befault  ******/
A:link { text-decoration:none; color:#004488;}
A:visited { text-decoration:none; color:#004488;}
A:hover { text-decoration:none; color:#ff6600;}
A:active { text-decoration:none; color:#ff6600;}

.Ahead:link { text-decoration:none; font-size:13px; color:#bcd7ff;}
.Ahead:visited { text-decoration:none; font-size:13px; color:#bcd7ff;}
.Ahead:hover { text-decoration:none; font-size:13px; color:#FFFFFF;}
.Ahead:active { text-decoration:none; font-size:13px;color:#FFFFFF;}

.Aleft:link { text-decoration:none; font-size:15px;font-weight:bold; color:#666666;}
.Aleft:visited { text-decoration:none; font-size:15px;font-weight:bold; color:#666666;}
.Aleft:hover { text-decoration:none; font-size:15px;font-weight:bold; color:#FF6600;}
.Aleft:active { text-decoration:none; font-size:15px;font-weight:bold; color:#FF6600;}

.Aorange:link { text-decoration:none; font-size:12px; color:#ff6600;}
.Aorange:visited { text-decoration:none; font-size:12px; color:#ff6600;}
.Aorange:hover { text-decoration:underline; font-size:12px; color:#004488;}
.Aorange:active { text-decoration:underline; 宋体; font-size:12px; color:#004488;}

.Agray:link { text-decoration:none; font-size:13px; color:#333333;}
.Agray:visited { text-decoration:none; font-size:13px; color:#333333;}
.Agray:hover { text-decoration:underline; font-size:13px; color:#FF6600;}
.Agray:active { text-decoration:underline; font-size:13px; color:#FF6600;}

body
{
	background-color:#eaeaea;
	background-image: url(../images/bg.gif);
	background-position: right top;
	background-repeat: repeat-x;
	font-family:Arial, 宋体;
	font-size:12px;
	color:#000000;
	line-height:20px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	scrollbar-face-color:#DFEBFF;
	scrollbar-arrow-color:#0A2490;
	scrollbar-3dlight-color:#A9C2F6;
	scrollbar-base-color:#0A2490;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#0A2490;
}

table
{
	border:0;
	
}

img
{
	border:0px;
}

hr
{
	height:1px;
	color:#999999;
}

.img_border
{
	border:1px solid #cccccc;
}

.img_border_w
{
	background-color:#FFFFFF;
	padding:5px;
	border:1px solid #cccccc;
}

.img_line03a
{
	background-image: url(../images/line03a.gif);
	background-position:top;
	background-repeat:repeat-x;
	height:1px;
	padding:0px;
}


.title_color01
{
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding-bottom:4px;
}

.title_color02
{
	font-size:12px;
	color:#001d46;
	font-weight:bold;
	text-align:center;
	padding-top:3px;
}

.title_color03
{
	font-size:12px;
	color:#cccccc;
}

.title_color04
{
	height:40px;
	background-image: url(../images/title_bg01a.gif);
	background-position:center;
	background-repeat:no-repeat;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding:10px 20px 0 0;
}

.title_color05
{
	height:40px;
	background-image: url(../images/title_bg01b.gif);
	background-position:center;
	background-repeat:no-repeat;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding:10px 20px 0 0;
}

.title_color06
{
	height:40px;
	background-image: url(../images/title_bg01c.gif);
	background-position:center;
	background-repeat:no-repeat;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding:10px 20px 0 0;
}

.title_color07
{
	height:55px;
	background-image: url(../images/title_bg02.gif);
	background-position:right;
	background-repeat:no-repeat;
	font-size:15px;
	color:#000000;
	font-weight:bold;
	text-align:left;
	vertical-align:middle;
	padding:0px 0px 0px 10px;
}

.title_left
{
	height:40px;
	background-image: url(../images/bg_pic03b.gif);
	background-position:top;
	background-repeat:repeat-x;
	font-size:15px;
	color:#000000;
	background-color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:bottom;
	padding:10px 0px 0px 0px;
}

.title_left_b
{
	height:40px;
	background-image: url(../images/bg_pic04b.gif);
	background-position:top;
	background-repeat:repeat-x;
	font-size:15px;
	color:#000000;
	background-color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:bottom;
	padding:10px 0px 0px 0px;
}


.text_guide
{
	color:#666666;
	font-size:14px;
	line-height:24px;
	text-align:left;
	border-bottom:1px solid #b2b2b2;
	padding-left:10px;
}

.text_red
{
	color:#FF0000;
}

.text_gray
{
	color:#888888;
}

.text_left
{
	font-size:15px;
	font-weight:bold;
	color:#666666;
}

.text_left_on
{
	font-size:16px;
	font-weight:bold;
	color:#ff6600;
}

.text_left_en
{
	font-family:Arial;
	font-size:9px;
	color:#999999;
}

.text_line
{
	padding-top:6px;
	padding-bottom:2px;
	border-bottom:1px solid #d6d6d6;
}

.text_13size
{
	font-size:13px;
}

.text_14size
{
	font-size:14px;
}

.text_foot
{
	background-color:#f5f5f5;
	font-size:12px;
	color:#999999;
	padding-left:10px;
}

.bgcolor01
{
	background-color:#f4f8fe;
}

.btn_01
{
	font-size:12px;
	color:#000000;
	font-weight:bold;
	background-image: url(../images/btn_bg01.gif);
	height:20px;
	border:1px solid #d38300;
	padding-top:3px;
	cursor:hand;
}

.btn_02
{
	font-size:12px;
	color:#000000;
	font-weight:bold;
	background-image: url(../images/btn_bg02.gif);
	width:50px;
	height:20px;
	border:0px;
	padding-top:4px;
	cursor:hand;
}

input
{
	height:15px;
	border:1px solid #999999;
	padding-top:3px;
}

.head_landing_text
{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	padding-top:3px;
}

.head_landing_select
{
	font-size:13px;
	color:#000000;
	width:70px;
	height:20px;
}

.head_landing_input
{
	font-size:13px;
	color:#000000;
	width:60px;
	height:16px;
}

.seach_input
{
	font-size:12px;
	color:#000000;
	width:150px;
	height:17px;
	border:1px solid #999999;
	padding-top:3px;
}

.registered_input
{
	font-size:14px;
	color:#000000;
	width:180px;
	height:20px;
	border: 0;
	border-bottom:1px solid #FF6600;
	padding-top:3px;
}

.page_input
{
	font-size:12px;
	color:#000000;
	width:20px;
	height:15px;
	border:1px solid #bed6f6;
	text-align:right;
	padding:1px 3px 0px 3px;
}

/* ----用户信息表格---- */

table.user_list {
	border:1px solid #95b9e9;
}

table.user_list th {
	font-size:14px;
	background-color:#dbe8f8;
	text-align:left;
	padding:5px 20px 0px 15px;
}

table.user_list td {
	font-size:13px;
	background-color:#FFFFFF;
	text-align:left;
	padding:10px 15px 3px 15px;
	background-image: url(../images/line03a.gif);
	background-position:top;
	background-repeat:repeat-x;
}

/* ----表格---- */

table.list {
	border:1px solid #95b9e9;
}

table.list th {
	font-size:13px;
	background-color:#dbe8f8;
	text-align:center;
	padding:5px 20px 0px 15px;
}

table.list td {
	font-size:13px;
	background-color:#FFFFFF;
	text-align:center;
	padding:10px 15px 3px 15px;
	background-image: url(../images/line03a.gif);
	background-position:top;
	background-repeat:repeat-x;
}

/* ----表格 2---- */

table.list2 {
	border:1px solid #95b9e9;
}

table.list2 th {
	font-size:13px;
	background-color:#FFFFFF;
	text-align:right;
	padding:10px 0px 3px 30px;
	background-image: url(../images/line03a.gif);
	background-position:top;
	background-repeat:repeat-x;
	font-weight:normal;
}

table.list2 td {
	font-size:13px;
	background-color:#FFFFFF;
	text-align:left;
	padding:10px 30px 3px 0px;
	background-image: url(../images/line03a.gif);
	background-position:top;
	background-repeat:repeat-x;
}

